/*** Tighten up drop-down/context/popup menu spacing ***/

menupopup > menuitem, menupopup > menu {
  padding-block: 4px !important;
}

:root {
  --arrowpanel-menuitem-padding: 4px 8px !important;
}

#scrollbutton-up, #scrollbutton-down { /* 6/10/2021 */
    border-top-width: 1px !important;
    border-bottom-width: 0 !important;
}

#tabbrowser-tabs {
    --user-tab-rounding: 0px;
}

/* Adjust tab corner shape, optionally remove space below tabs */
.tab-background {
    border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0px 0px !important;
    margin-block: 1px 0 !important;
}

/* Container color bar visibility */
.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
    margin: 0px max(calc(var(--user-tab-rounding) - 3px), 0px) !important;
}

/* Override Normal Density height to Compact Density height only for tabs */

#TabsToolbar, #tabbrowser-tabs {
    --tab-min-height: 29px !important;
}

/* Tweak for covering a line at the bottom of the active tab on some themes 8/11/2021 */
/* #main-window[sizemode="normal"] #toolbar-menubar[autohide="true"] + #TabsToolbar,
#main-window[sizemode="normal"] #toolbar-menubar[autohide="true"] + #TabsToolbar #tabbrowser-tabs {
    --tab-min-height: 30px !important;
} /*

#scrollbutton-up,
#scrollbutton-down {
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
}

/* [Connected Tabs] Set a max height based on min-height plus margin-block: 1px 0 */
#TabsToolbar, #TabsToolbar > hbox, #TabsToolbar-customization-target, #tabbrowser-arrowscrollbox  {
    max-height: calc(var(--tab-min-height) + 1px) !important;
}
  
/* [Connected Tabs] Adjust padding around icons on buttons to avoid crushed images */
#TabsToolbar-customization-target toolbarbutton > .toolbarbutton-icon,
#TabsToolbar-customization-target .toolbarbutton-text,
#TabsToolbar-customization-target .toolbarbutton-badge-stack,
#scrollbutton-up,#scrollbutton-down {
    padding-top: 7px !important;
    padding-bottom: 6px !important;
}

toolbox {
    background: #1e1e1e;
}

/* tab separators */
.tabbrowser-tab {
    border-right: 3px solid #5f5f5f !important;
}

/* tab background NOT selected */
.tabbrowser-tab:not([selected]):not([multiselected]) .tab-background {
    background: #000000 !important;
    background-image: none !important;
}

/* tab background selected */
.tabbrowser-tab[selected] .tab-background,
.tabbrowser-tab[multiselected] .tab-background {
    background: #6d0d0d !important;
    background-image: none !important;
}

/* tab text while HOVER */
.tabbrowser-tab:not([selected=true]):not([multiselected=true]) .tab-text {
    color: white !important;
}

/* tab background while HOVER */
.tabbrowser-tab:not([selected=true]):not([multiselected=true]):hover .tab-background {
    background: #800 !important;
}
